name: Build and Push Docker Image

on:
  push:
    branches:
      - main     # Berjalan setiap kali ada push ke branch main
    tags:
      - 'v*'      # Berjalan setiap kali Anda membuat tag versi (misal v1.0)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Ganti 'dickyermawan' dengan username Docker Hub Anda
          tags: |
            dickyermawan/kilas:latest
            dickyermawan/kilas:${{ github.ref_name }}
